.item {
  min-width: 100px;
  max-width: 230px;
  text-align: center;
  justify-content: flex-start;
  margin-bottom: 1em;
}

.item__bullet {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-bottom: 0.75rem;
  background: $primary-color;
  color: white;
  transition: all 2s;
  font-size: 30px;
}

.item .mdi::before {
  font-size: 22px;
}

$animation-darken: darken 0.6s ease-out both;
$animation-grow: grow 0.5s ease-out both;

.item:hover .item__bullet {
  -webkit-animation: $animation-darken;
  -moz-animation: $animation-darken;
  animation: $animation-darken;
}

.item:hover .mdi::before {
  -webkit-animation: $animation-grow;
  -moz-animation: $animation-grow;
  animation: $animation-grow;
}

@keyframes darken {
  0% {
    // transform: scale(1);
  }
  100% {
    // transform: scale(0.95);
    background: mix($primary-color, black, 80%);
  }
}

@keyframes grow {
  0% {
    transform: rotate(-2deg) scale(1);
  }
  85% {
    transform: scale(1.25);
  }
  100% {
    transform: rotate(0deg) scale(1.2);
  }
}

.item__headline {
  color: $primary-color;
  font-size: 30px;
}
