.item {
  min-width: 100px;
  max-width: 230px;
  text-align: center;
  justify-content: flex-start;
  margin-bottom: 1em;
}

.item__bullet {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 0.75rem;
  background: $secondary-color;
  color: white;
  transition: transform 0.8s;
}

.icon {
  transition: transform 0.8s;
}

.item:hover .item__bullet,
.item:hover .icon {
  transform: rotateY(180deg);
  background: $secondary-color-lighter;
}

.item__bullet .icon {
  font-size: 25px;
}

.item__headline {
  color: $secondary-color;
  font-size: 30px;
}

.tags {
  max-width: 70%;
  margin: 0 auto;
  justify-content: center;
}

.skills__item {
  display: inline-block;
  margin: 2px;
  padding: 5px 10px;
  background: $darkest-color;
  color: white;
  transition: opacity 0.5s;
}

.skills__level--5 {
  font-size: 2em;
  opacity: 1;
}

.skills__level--4 {
  font-size: 1.75em;
  opacity: 0.9;
}

.skills__level--3 {
  font-size: 1.3em;
  opacity: 0.8;
}

.skills__level--2 {
  font-size: 1em;
  opacity: 0.7;
}

.skills__level--1 {
  font-size: 0.8em;
  opacity: 0.6;
}

.tags__category--Frontend {
  color: $third-color;
}

.tags__category--Backend {
  color: $secondary-color;
}

.tags__category--Database {
  color: $primary-color;
}

@media screen and (min-width: 600px) {}