@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;400;600&display=swap");

body {
  font-family: Urbanist;
}

.button {
  background: transparent;
  border: 2px solid #fff;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 13pt;
  padding: 10px 20px;
  transition: all 0.5s;
}
.button:hover {
  background-color: #48a368;
  border-color: #48a368;
}
