.profile__image {
  width: 100%;
  min-width: 30%;
  text-align: center;
  margin-bottom: 2em;
}

.profile__image img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.story {
  max-width: 90%;
  margin-bottom: 2em;
  font-size: 1.1em;
}

.story .highlight {
  font-weight: $bold;
  color: mix($primary-color, black, 90%);
}

.contact {
  justify-content: center;
}

.contact > * {
  margin: 10px;
}

.contact__headline {
  font-weight: $bold;
  font-size: 1.2em;
  margin-bottom: 0.15em;
  color: $primary-color;
}

.contact .item__bullet {
  width: 35px;
  height: 35px;
}

.contact .item .mdi::before {
  font-size: 20px;
}

@media screen and (min-width: 800px) {
  .profile {
    width: 90%;
    margin: 0 auto;
  }
  .profile__image {
    width: auto;
  }
  .story {
    max-width: 580px;
  }
  .story__row {
    flex-wrap: nowrap;
  }
  .story__chapter {
    width: 30%;
    text-align: right;
    margin-right: 1em;
  }
}
