section.intro {
  color: #fff;
  height: calc(100vh + 53px);
  padding: 0px;
  overflow: hidden;
}

.canvas {
  background: $darkest-color;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.intro__text {
  padding: 0 10px;
  pointer-events: none;
  z-index: 1;
}

.intro__headline {
  font-weight: $thin;
}

.intro__button {
  margin-bottom: 53px;
  position: relative;
  font-size: 25px;
}

.intro__button .mdi::before {
  transition: transform 0.3s;
}

.button:hover .mdi::before {
  transform: rotate(90deg);
}

.highlight {
  color: $primary-color;
}

@media screen and (min-width: 600px) {
  .intro__text {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}