@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;400;600&display=swap");
$darkest-color: #252934;
$grey: #dae2e3;
$primary-color: #fc9105;
$secondary-color: #006273;
$secondary-color-lighter: #00879e;
$third-color: #48a368;
$fourth-color: #fecea8;

@import "~normalize.css";
@import "./base.scss";
@import "./layout.scss";
@import "./nav.scss";
@import "./intro.scss";
@import "./about.scss";
@import "./portfolio.scss";
@import "./contact.scss";
