section.intro {
  color: #fff;
  height: calc(100vh + 53px);
  padding: 0 10px;
}

.canvas {
  background: $darkest-color;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.intro__text {
  pointer-events: none;
  font-weight: 600;
  z-index: 1;
}

.intro__button {
  margin-bottom: 53px;
  /* padding: 12px 40px 12px 15px; */
  position: relative;
  color: #fff;
}

.intro__button .icon {
  margin-left: 5px;
  transition: transform 0.3s;
}

.button:hover .icon {
  transform: rotate(90deg);
}

.highlight {
  color: $primary-color;
}

@media screen and (min-width: 600px) {
  .intro__text {
    font-size: 32pt;
    line-height: 36pt;
  }
}
