.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  color: #616161;
  line-height: 11pt;
  padding: 70px 0 70px 0;
  position: relative;
}
section.intro {
  color: #fff;
  height: calc(100vh + 53px);
  padding: 0 10px;
}

section .container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  width: 100%;
}
