.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  flex-direction: row;
}

.row--top {
  flex-direction: row;
  align-items: inherit;
}

.wrap {
  flex-wrap: wrap;
}

section {
  color: $darkest-color;
  padding: 70px 0 70px 0;
  position: relative;
  min-height: 100vh;
  scroll-snap-align: center;
}

section .container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  width: 100%;
}

.collection {
  margin-bottom: 3em;
}