@keyframes popDown {
  0% {
    transform: translateY(-100px);
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.nav {
  bottom: 0;
  left: 0;
  position: absolute;
  background: mix($primary-color, black, 40%);
  border-bottom: 3px solid $highlight;
  height: 50px;
  text-align: left;
  width: 100%;
  z-index: 99;
}

.nav.fixed {
  bottom: inherit;
  left: 0;
  position: fixed;
  top: 0;
}

.nav.fixed.desk {
  animation: popDown 0.5s;
}

.nav__wrap {
  list-style: none;
  background: $darkest-color;
  height: 0;
  max-width: 1200px;
  overflow: hidden;
  position: absolute;
  top: 53px;
  transition: height 0.3s ease-out;
  width: 100%;
}

.nav__wrap.visible {
  height: 220px;
}

.nav__link {
  display: block;
}

.nav__link {
  cursor: pointer;
  font-size: 12pt;
  font-weight: $bold;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: color 0.5s;
}

.nav__link:first-child {
  padding-top: 18px;
}

.nav__link a {
  color: white;
}

.nav__link a:hover {
  color: $highlight;
}

.nav .menu-icon {
  font-size: 20pt;
  line-height: 36pt;
  margin: auto 0;
  position: absolute;
  right: 5vw;
  top: 2px;
  cursor: pointer;
}

.nav .active a {
  color: $primary-color;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

// .sticky+.content {
//   padding-top: 60px;
// }
@media screen and (min-width: 600px) {
  .nav__wrap {
    background: none;
    height: initial;
    overflow: visible;
    position: initial;
    text-align: left;
  }
  .nav__wrap.visible {
    height: initial;
  }
  .nav__link {
    display: inline-block;
    font-size: initial;
    margin: 0 20px;
    padding: initial;
  }
  .nav__link:first-child {
    padding: 0;
  }
  .menu-icon {
    display: none;
  }
  .fade-in {
    animation: popDown 0.75s ease both;
  }
}
