.tags {
  justify-content: center;
}

.skills__nav {
  text-align: center;
  margin-bottom: 1em;
  line-height: 2;
}

.skills__item {
  display: inline-block;
  margin: 2px;
  background: $darkest-color;
  color: white;
  transition: all 0.75s;
}

.skills__item--faded {
  opacity: 0.25;
}

.skills__item[data-skill-level="5"] {
  padding: 5px 10px;
  font-size: 2em;
  background: mix($darkest-color, black, 98%);
}

.skills__item[data-skill-level="4"] {
  padding: 4px 8px;
  font-size: 1.7em;
  background: mix($darkest-color, white, 98%);
}

.skills__item[data-skill-level="3"] {
  padding: 4px 8px;
  font-size: 1.3em;
  background: mix($darkest-color, white, 96%);
}

.skills__item[data-skill-level="2"] {
  padding: 3px 6px;
  font-size: 1em;
  background: mix($darkest-color, white, 94%);
}

.skills__item[data-skill-level="1"] {
  padding: 3px 6px;
  font-size: 0.8em;
  background: mix($darkest-color, white, 92%);
}

.skills__button,
.skills__button:hover {
  color: $darkest-color;
}

.skills__button[data-skill-category="Programming"] {
  background: mix($highlight, white, 75%);
}

.skills__button[data-skill-category="Programming"]:hover {
  background: $highlight;
}

.skills__item[data-skill-category="Programming"] {
  color: mix($highlight, white, 90%);
}

.skills__button[data-skill-category="Front-end"] {
  background: mix($third-color, white, 75%);
}

.skills__button[data-skill-category="Front-end"]:hover {
  background: $third-color;
}

.skills__item[data-skill-category="Front-end"] {
  color: mix($third-color, white, 70%);
}

.skills__button[data-skill-category="Back-end"] {
  background: mix($fifth-color, white, 75%);
}

.skills__button[data-skill-category="Back-end"]:hover {
  background: $fifth-color;
}

.skills__item[data-skill-category="Back-end"] {
  color: mix($fifth-color, white, 60%);
}

.skills__button[data-skill-category="Database"] {
  background: mix($secondary-color, white, 75%);
}

.skills__button[data-skill-category="Database"]:hover {
  background: $secondary-color;
}

.skills__item[data-skill-category="Database"] {
  color: mix($secondary-color, white, 90%);
}

.skills__button[data-skill-category="Other"] {
  background: mix($fourth-color, white, 75%);
}

.skills__button[data-skill-category="Other"]:hover {
  background: $fourth-color;
}

.skills__item[data-skill-category="Other"] {
  color: $fourth-color;
}

.skills__item:hover {
  background: $darkest-color;
}

@media screen and (min-width: 600px) {
  .tags {
    max-width: 70%;
    margin: 0 auto;
  }
}
