<section id="about" class="flex">
  <div class="container">
    <h2 class="section__headline">More about me</h2>
    <h3 class="section__subheader">#passions #journey #activities</h3>
    {{! <ul class="tabs">
      <li>Summary</li>
      <li>Professional Journey</li>
      <li>Personal Journey</li>
    </ul> }}
    <div class="profile flex row wrap">
      <figure class="profile__image">
        <img src="images/jenny_svensson.jpg" alt="Jenny Lind" />
      </figure>
      <div class="story flex">
        <div class="flex">
          <p>I am Jenny <del>Svensson</del> Lind, a Full-Stack developer in Malmö. I am
            passionate about
            <span class="highlight">usability</span>
            and smart solutions. I love
            <span class="highlight">
              problem solving
            </span>, which is why I love working with code. I am great at
            <span class="highlight">
              thinking outside the box
            </span>
            and making things work.
          </p>
          <p>I have a long experience as a designer/web developer building many
            custom websites. I have realized that I prefer developing features
            and coding over everything else in a project. I recently completed
            the Full-Stack JavaScript developer bootcamp at
            <a href="https://salt.dev/" target="_blank" rel="noopener">&lt;/Salt&gt;</a>
            and look forward to applying my new skills in the real world.
          </p>
          <p>
            In my spare time I like to be quite active. I dance and DJ
            <span class="highlight">swing</span>, work out, do yoga, am out and
            about in nature and do things with friends. I want to contribute
            to a better world, so I try to minimize my carbon footprint by
            living minimalistically and eating a plant based diet. I also love
            experiencing new things and traveling. Some of my best experiences
            have been <span class="highlight">scuba diving</span> in wrecks from the WW2 40 metres deep!
          </p>
        </div>
      </div>
    </div>
    <div id="contact" class="contact collection flex row wrap">
      <a href="https://github.com/jennysvensson/" target="_blank" rel="noopener">
        <div class="item flex">
          <div class="item__bullet flex">
            <span class="mdi mdi-github"></span>
          </div>
          <h4 class="contact__headline">GitHub</h4>
          <p>Check out my GitHub</p>
        </div>
      </a>
      <a href="https://www.linkedin.com/in/jennysvensson/" target="_blank" rel="noopener">
        <div class="flex item">
          <div class="flex item__bullet">
            <span class="mdi mdi-linkedin"></span>
          </div>
          <h4 class="contact__headline">LinkedIn</h4>
          <p>
            Connect with me on LinkedIn
          </p>
        </div>
      </a>
      <a href="mailto:hello@jennysvensson.com" target="_blank">
        <div class="flex item">
          <div class="flex item__bullet">
            <span class="mdi mdi-email-outline"></span>
          </div>
          <h4 class="contact__headline">E-mail</h4>
          <p>
            Send me an e-mail
          </p>
        </div>
      </a>
    </div>

  </div>
</section>