<section id="home" class="intro flex">
  <div id="pts" class="canvas"></div>
  <div class="flex">
    <div class="intro__text">
      <h1 class="intro__headline">
        Hello! I am
        <span class="highlight">Jenny Lind</span>.<br />
        I am a Full-Stack Developer in Malmö, Sweden.
      </h1>
    </div>
    <a class="button intro__button" href="#skills">
      Learn more
      <span class="mdi mdi-arrow-right"></span>
    </a>
  </div>
  {{> nav }}
</section>