<nav class="nav flex desk">
  <ul class="nav__wrap">
    <li class="nav__link active">
      <a href="#home">home</a>
    </li>
    <li class="nav__link" href="#about">
      <a href="#skills">what I do</a>
    </li>
    <li class="nav__link">
      <a href="#portfolio">portfolio</a>
    </li>
    <li class="nav__link">
      <a href="#about">about</a>
    </li>
    <li class="nav__link">
      <a href="#contact">contact</a>
    </li>
  </ul>
  <span class="menu-icon mdi mdi-menu"></span>
</nav>