<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.1.95/css/materialdesignicons.min.css
" rel="stylesheet" />

</head>

<body>

  {{> homeSection }}

  {{> skillsSection }}

  {{> portfolioSection }}

  {{> contactSection }}

</body>

</html>